:root {
  /* Color pallete */
  --black: #011627;
  --red: #FF3366;
  --green: #2EC4B6;
  --offWhite: #F6F7F8;
  --blue: #20A4F3;
}

.header{
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    color: var(--offWhite);
    text-shadow: #011627 2px 2px;
}

.custom-bg{
    background-color: var(--red);
    display: block;
}

.btn-outline-custom{
    color: var(--offWhite);
    background-color: var(--black);
    border-radius: 10%;
}

.btn-custom{
    color: var(--offWhite);
    background-color: var(--green);
    border-radius: 10%;
}

.custom-navlink{
    display: block;
    padding: 8px 10px;
    color: var(--offWhite);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}